<div class="row well {{ msg.sender.username == recipient ? 'recipient' : 'sender' }}" ng-repeat="msg in messages" on-last-repeat>

  <div ng-if="msg.sender.username == recipient">
    <div class="col-md-1"><strong>{{ msg.sender.username }}</strong></div>
    <div class="col-md-11">
      {{ msg.content }}
      <div><small>{{ msg.timestamp | date:"medium" }}</small></div>
    </div>
  </div>

  <div ng-if="msg.sender.username != recipient">
    <div class="col-md-11 text-right">
      {{ msg.content }}
      <div><small>{{ msg.timestamp | date:"medium" }}</small></div>
    </div>
    <div class="col-md-1"><strong>{{ msg.sender.username }}</strong></div>
  </div>

</div>
